@model WebsitesPerformanceEvaluating.Models.Test

@{ ViewBag.Title = "Test"; }

<h1>Test</h1>
@using (Ajax.BeginForm("Index", null, new AjaxOptions { OnSuccess = "onStartTest" }, new { enctype = "multipart/form-data" }))
{
    @Html.LabelFor(model => model.Website, "Enter the URL:")
    <div class="test-data-input">
        @Html.EditorFor(model => model.Website, new { htmlAttributes = new { @type = "url", @class="form-control url-input", @placeholder = "https://www.ukad-group.com" } })
        <button class="btn btn-success start-test" type="submit">Start test</button>
    </div>
    <div class="loading-status">
        <span class="loading-status-text"></span><span class="spinner-border text-primary loading-status-spinner" role="status"></span>
    </div>
    <div class="error-status">
        <span class="error-status-text">The sitemap of requested URL wasn't found!</span>
    </div>
    <div class="error-validation">
        @Html.ValidationMessageFor(model => model.Website)
    </div>
}
<section class="test">
    <table class="table test-table">
        <thead>
            <tr>
                <th>Page URL</th>
                <th>Number of request</th>
                <th>Time (ms)</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</section>