<div class="login">
    <label for="name">Введите ваше имя:</label>
    <input class="user-name" name="name" type="text" autocomplete="off"/>
    <input class="sign-in" type="button" value="Войти в чат" disabled="disabled"/>
</div>
<div class="main">
    <h1></h1>
    <div class="chat">
        <div class="messages">
            <h2></h2>
            <p class="sort">
                <span>Тип сортировки: </span>
                <select class="sort-type">
                    <option>По идентификатору</option>
                    <option>По времени</option>
                </select>
                <select class="sort-order">
                    <option>По возрастанию</option>
                    <option>По убыванию</option>
                </select>
            </p>
            <p class="all-users">« Сообщения всех пользователей</p>
            <ul></ul>
            <label for="message">Введите сообщение:</label>
            <div class="message-input">
                <input class="user-message" name="message" type="text" autocomplete="off"/>
                <input class="send" type="button" value="+ Отправить" disabled="disabled"/>
            </div>
        </div>
        <div class="users">
            <h2>Текущие пользователи</h2>
            <ul></ul>
        </div>
    </div>
    <input id="userid" type="hidden"/>
    <input id="username" type="hidden"/>
</div>