#wrap
{
    width: 350px;
    border: 1px solid gray;
    overflow: auto;
}

#list
{
    overflow: hidden;
    position: relative;
}

#list .item
{
    width: 100%;
    border-bottom: 1px solid gray;
    position: absolute;
    padding: 0 5px 0 5px;
}